*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Abhaya Libre', serif;
}
.bg-pink {
    background-color: #fff;
    font-family: 'Abhaya Libre', serif;
    font-size: 22px;
}

.bg-la {
    background-color: #c93d80;
    color: #fff;
    border-radius: 13px;
    text-decoration: none;
    font-size: 18.5px;
}

.bg-la:hover {
    background-color: #a33959;
}
/* services */

#services{
    background-image: url(img/ladies6.jpg);
    min-height: 60vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.aa{
    background-color: rgba(0, 0, 0, 0.434);
    min-height: 60vh;
    padding-top: 120px;
}
.s1{
    font-size: 100px;
}
.s2{
    color: #a33959;
}
.s3{
    color: #c93d80;
}
/* services end */
/* contact */
.t1{
    color: #c93d80;
    font-weight: 700;
}
/* contact end */