*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Abhaya Libre', serif;
}
.bg-pink {
    background-color: #fff;
    font-family: 'Abhaya Libre', serif;
    font-size: 22px;
}

.bg-la {
    background-color: #c93d80;
    color: #fff;
    border-radius: 13px;
    text-decoration: none;
    font-size: 18.5px;
}

.bg-la:hover {
    background-color: #a33959;
}
/* help  */
#services{
    background-image: url(img/ladies6.jpg);
    min-height: 60vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.aa{
    background-color: rgba(0, 0, 0, 0.434);
    min-height: 60vh;
    padding-top: 120px;
}
.s1{
    font-size: 100px;
}
.s2{
    color: #a33959;
}
.s3{
    color: #c93d80;
}
/* help end */
/* card */
.f2{
    background-color: #c93d80;
    border-radius: 40px;
}
.f3{
    font-size: 25px;
}
.f4{
    font-size: 15px;
    color: black;
}
/* card end */
/* faq */
#faq{
    background-color: #f8f9fa;
}
.g1{
    color: #c93d80;
    font-size: 25px;
}
.g2{
    color: grey;
    font-size: 18px;
}
#c7{
    background-color: #f6f6f6;
    border-radius: 5px ;
   }
   #c7:hover{
       background-color: #c93d80;
       color: #fff;
   }
   #c8{
    background-color: #c93d80;
    color: #fff;
   }
   /* faq end */
   /* News & Article  */
#pgs {
    color: #c93d80;
}
.f1{
    color: gray;
}
.log {
    background-color: #c93d80;
    color: #fff;
    border: 2px solid #c93d80;
    border-radius: 10px;
}

.log:hover {
    background-color: #a33959;
}
/* News & Article  end */
/* card */
.lop {
    background-color: #c93d80;
    color: #fff;
    border: 2px solid #c93d80;
    border-radius: 10px;
}
/* card end */
/* footer  */

#footer{
    background-image: url(img/seniorsy.jpg);
    min-height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.lsa{
    background-color: #c93d819f;
    min-height: 30vh;
}
.vs{
    background-color: #000;
    color: #fff;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 15px;
}
.vs:hover{
    background-color: #b7496a;
    border: 2px solid #b7496a;
}
#footer-2{
    background-color: #872c58;
    min-height: 70vh;
    min-width: 100%;
}
.mna{
    border: 8px solid #aa6076;
    border-radius: 18px;
}
.nm{
    color: #aa6076;
    font-size: 20px;
}
.shy{
    color: #aa6076;
}
/* footer  end */
